body{
    background-color: rgb(0, 255, 221);
    font-family: 'Arial', 'helvetica Neue', helvetica, sans-serif;
}

header {
    background-color: orange;
    padding: 30px;
    margin: 20px;
    width: 400px;
    font-size: 38px;
    color: white;
    text-align: center;
  }
  section{
      float: left;
      background-color: green;
      padding: 30px;
      margin: 20px;
      color: white;
  }
  aside{
      float: left;
      background-color: blue;
      padding: 30px;
      margin: 20px;
      color: white;
  }
  img{
      height: 100px;
      width: 100px;
  }

